form input,
form textarea,
form select {
  border: 1px solid #999;
  background: white;
  color: black;
  padding: 0.6rem;
  border-radius: 0.35rem;
  width: 100%;
}

form textarea {
  min-height: 12rem;
}

form button {
  margin-top: 1rem;
}